#vocabulary{
    background-color: rgba(214, 200, 200, 0.1);
    padding: 30px;
    border-radius: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}
#vocabulary:hover{
    background-color:  rgba(138, 134, 134, 0.3);
}

#vocabulary div:nth-child(2){
    color: rgba(0, 0, 0, 0.8);
    margin-top: 15px;
}
#vocabulary div:last-child{
    color: rgba(0, 0, 0, 0.8);
    margin-top: 7px;
}
